<h1>Burger Palace</h1>

<h2>Burgers</h2>

<ul>
  {{#each hbsObject}}
    {{#unless this.devoured}}
      <li>
        {{this.id}}. {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">DEVOUR THIS</button>
        </form>

        {{burgers/delete-cat}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each hbsObject}}
    {{#if this.devoured}}
      <li>
        {{this.id}}. {{this.name}}

        <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit">DELETE</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="brgr">Burger:</label>
    <input type="text" id="brgr" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
